.NavContent{
    position:relative;
    width: 100vw;
    height: 15vh;
    background-color: #ff8c00;
    display: flex; 
    align-items: center;
}

.NavContent .logo{
    width: 50px;
    margin-left: 25px;
}

.comp{
    display: flex;
    position: relative;
    left: 2vh;
}

.perfil{
    position: relative;
    left: 40vw;
}

.NavContent .comp img{
    font-size: 0;
    padding: 0;
    margin: 0;
    margin-left: 0.7rem;
    width: 35px;
}

.NavContent button, a{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.5rem;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font: none;
    text-decoration: none;
    padding: 15px;

    border-radius: 12px;
}

.NavContent button{
    background-color: transparent;
    border: 0;
}