.navHorizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100vh;
    background-color: gray;
}

.navHorizontal ul{
    width: 66%;
    list-style-type: none;
}

.navHorizontal .project li{
    margin-left: 10%;
    line-height: 35px;
}

.navHorizontal ul button{
    background-color: transparent;
    border: 0;
}

body{
    overflow-x: hidden;
}