body{
    overflow-x: hidden;
}
.navHorizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100vh;
    background-color: gray;
    ul{
        width: 66%;
        list-style-type: none;
        button{
            background-color: transparent;
            border: 0;
        }
    }

    .project li{
        margin-left: 10%;
        line-height: 35px;
    }
} 
