html{
	font-family: 'Nunito';
	margin: 0; 
	padding: 0;
	body{
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
	}
}
.swal-title {
	margin-top: -10%;

}

.swal-icon{
	width: 40px;
    height: 40px;
	margin: 0px 30px;
	&:first-child {
    	margin-top: 20px;
	}
	&--error__line {
		width: 23px;
		top: 19px;
		&--left {
			left: 8px;
		}
		&--right {
			right: 9px;
		}
	}
}

.Loading{
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.74);
	z-index: 999;
	img{
		width: 100px;
		height: 100px;
		z-index: 9999;
	}
}
