.card{
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951FCC;
    max-width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    background-color: #1a1a1c;
}
.card, .dropzone{
    transition: 0.4s;
}
.status{
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    &.green{
        background-color: #23d2ac;
    }
    &.blue{
        background-color: #33adff;
    }
    &.red{
        background-color: red;
    }
}
.isDragging{
    cursor: move;
    opacity: 0.5;
}
.content{
    max-width: auto;
}