.cadastroContent{
    position: absolute;
    padding-left: 0px;
    width: 100.2%;
    height: 130%;
    background: url(./../../../images/Trello.png) 0% 50% no-repeat fixed;
    background-size: 100% 100%;
    top: 0vh;
    left: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastroContent .form{
    top: 55%;
    height: 60%;
    width: 25%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cadastroContent .form input[type=text]{
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cadastroContent .form h2{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 10%;
    left: 50%;
    color: black;
    font-size: 16px;
}

h3 {
    position: relative;
    left: 40%;
    color: black;
}

.cadastroContent img{
    position: relative;
    display: flex;
    top: -25%;
    height: 80%;
    width: 30%;
}

.conectado{
    position: absolute;
    left: 12%;
    top: 67%;
    padding: 0;
    margin: 0;
}

.submitButtons{
    position: relative;
    width: 85%;
    background-color: white;
    border-color:  transparent;
    box-shadow: 0 0 1.5px black;
    margin-top: 8px !important;
    height: 40px;
    line-height: 5px;

}
.submitButtons img{
    position: absolute;
    top: 7%;
}

p{
   position: absolute;
   font-size: 12px;
   top: 30%;
   left: 35px;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center  ;
   text-align: center;
}

form div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-42%, -0%);
}

.textConectado{
    margin: 19px auto 0;
}