.Navbar{
    position:relative;
    width: 100vw;
    height: 15vh;
    background-color:rgba(234, 230, 255, 0.5);
    display: flex; 
    align-items: center;
}

.Navbar .logo{
    width: 180px;
    margin-left: 25px;
}

.navs{
    display: flex;
    position: relative;
    left: 2vh;
}

.login{
    display: flex;
    position: relative;
    left: 62vw;
    z-index: 1000;
}


.Navbar a:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.2rem;
    color: rgba(0, 101, 255, 0.8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    padding: 15px;

    border-radius: 12px;
}

.Navbar a:last-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.2rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    padding: 15px;

    border-radius: 12px;
}


.buttonAnimate{
    background-color: rgba(0, 101, 255, 0.8);
}