.Navbar{
    position:relative;
    width: 100%;
    height: 15vh;
    background-color:rgba(234, 230, 255, 0.5);
    display: flex; 
    align-items: center;
}

.Navbar .logo{
    width: 180px;
    margin-left: 25px;
}

.navs{
    display: flex;
    position: relative;
    left: 2vh;
}

.login{
    display: flex;
    position: relative;
    left: 62vw;
    z-index: 1000;
}


.Navbar a:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.09375rem;
    color: #0065ff;
    font-family: 'Charlie Text',sans-serif;
    font-weight: 400;
    margin-left: 5px;
    border-radius: 3px;
}

.Navbar a:last-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0065ff;
    font-size: 1.09375rem;
    color: white;
    font-family: 'Charlie Text',sans-serif;
    font-weight: 500;
    padding: 9px;

    border-radius: 4px;
}